.section {
  padding: 105px 0;
  background-color: #f3f5f8; }

.each__title {
  text-align: center; }

.section__title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.25px;
  color: #353535;
  margin-bottom: 25px; }

.dots {
  margin-bottom: 5px; }

.arrow {
  margin: 0 35px; }

.section__text {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 60px;
  line-height: 30px;
  text-align: center; }
  .section__text span {
    color: #353535;
    font-weight: 700; }

.love {
  padding: 100px 0; }

.love__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 80px; }

.love__item {
  width: 30%; }
  .love__item img {
    transition: .15s linear; }
    .love__item img:hover {
      transform: scale(1.1); }

.love__title {
  padding-top: 45px;
  color: #353535;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase; }
  .love__title::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 33px;
    height: 3px;
    background-color: #3dc9b3; }

.with__carousel {
  display: flex; }

.iphone__block {
  overflow: hidden;
  background-color: #f3f5f8;
  max-width: 50%; }
  .iphone__block img {
    max-width: 120%;
    margin-left: 160px;
    margin-top: 20px; }

.carousel__block {
  background: white;
  box-shadow: -12px 5px 31px -22px rgba(52, 51, 50, 0.74); }

.nature {
  max-width: 100%;
  background: url(../img/nature.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.nature__inner {
  text-align: center;
  color: white;
  padding: 80px 0 140px; }

.nature__title {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 30px; }

.nature__title-2 {
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 7.5px; }
  .nature__title-2 span {
    font-weight: 700; }

.circle-n {
  position: absolute;
  margin: 45px 0;
  text-align: center;
  left: 48%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3dc9b3; }

.circle__arrow-n {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  right: 20px;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: translateY(-50%) rotate(135deg); }

.view {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.view__item {
  width: 32%;
  max-width: 310px;
  position: relative;
  text-align: center;
  cursor: pointer; }

.view__title {
  padding-top: 45px;
  color: #353535;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.25px; }
  .view__title::after {
    content: "";
    display: block;
    margin: 15px auto 35px;
    width: 33px;
    height: 3px;
    background-color: #3dc9b3; }

.view__more {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 12%;
  z-index: 2;
  transition: opacity .5s linear; }
  .view__more i {
    margin-bottom: 15px;
    font-size: 30px; }

.view__img {
  background-color: #3dc9b3; }
  .view__img img {
    display: block;
    max-width: 310px; }

.blue__hover {
  width: max-content; }
  .blue__hover:hover .view__img img {
    opacity: .3;
    filter: blur(4px); }
  .blue__hover:hover .view__more {
    opacity: 1; }
